html {
    box-sizing: border-box;
    font-size: 8px;
}
*, *::after, *::before {
    box-sizing: inherit;
}

body {
    width: 100%;
}

main {
    width: 100%;
}

#product {
    width: 100%;
}


.card-footer {
    align-self: flex-end;
    width: 100%;
    align-self: flex-end;
}

.etsy-card {
    height: 100%;
    width: 100%;
    margin: 2%;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}

.thumbnail {
    width: 100%;
    max-height: 70%;
}

.title {
    font-size: 1rem;
    text-overflow: ellipsis;
}

.price {
    font-size: 1.25rem;
    font-weight: 700;
}

.more {
    display: flex;
}

.more > a {
    text-decoration: none;
    color: black;
}

.add-to-cart-btn {
    font-size: 1.25rem;
    font-weight: 700;
    border: 2px solid black;
    border-radius: 10px;
}

i {
    padding: 5px;
}

i:hover {
    transform: translateX(5px);
}
